*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  background-color: #fff;
  color: #444;
}

h1,
p {
  margin: 0 0 1em 0;
}

h1 {
  margin: 1em 0 1.5em 0;
  text-align: center;
  font-size: x-large;
}

.list-none {
  list-style: none;
}

.grid {
  columns: 3;
}

.wide {
  margin: 0;
  padding: 0;
  max-width: 90vw;
}

